body {
    background-color: $blanco;
    font-family: $general;
    color: $celeste;
    margin: 0 auto;
    font-size: 1.32em;
}

.hamburguesa {
    color: $rosa-fuerte;
}

.barra {
    color: $rosa-fuerte;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.titles {
    font-family: $general;
    color: $rosa-fuerte;
    font-weight: bolder;
}

.subtitles {
    font-family: $general;
    color: $celeste;
    font-weight: bolder;
}

.spanish {
    color: $rosa-fuerte;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.menu-side {
    ul {
        li {
            color: $celeste;
        }
    }
}

.logo-letras {
    width: 75%;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

.fran {
    width: 300px;
    border-radius: 25px;
    top: 100px;
}

.parallax-container {
    height: 400px;
}

.card-project {
    width: 100%;
    left: auto;
    top: auto;
}

.titulo-card {
    position: relative;
}

.hackathon {
    width: 100%;
}

.helpii {
    padding: 30px;
}

.skillset {
    top: 30px;
}

.skill-ico {
    font-size: 60px;
    color: $rosa-fuerte;
    padding: 20px;
}

.projects {
    color: $rosa-fuerte;
    top: 30px;
}

footer {
    background-image: url('/dist/img/Akiko.jpg');
}

.page-footer {
    color: black;
    font-size: 12px;
    font-weight: bolder;
    a {
        color: black;
    }
}