body {
    background-color: $blanco;
    font-family: $general;
    margin: 0 auto;
}

.titles {
    font-family: $titulos;
    color: $rosa-fuerte;
}


/*Navbar*/

.btn {
    background-color: $rosa-fuerte;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    font-family: $titulos;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    padding: 18px;
}

.spanish {
    color: $rosa-fuerte;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.nav {
    color: black;
}

.logo {
    width: 70%;
    margin-top: 100px;
}

.fran {
    width: 300px;
    border-radius: 25px;
    top: 100px;
}

.parallax-container {
    height: 630px;
}

.about-me {
    color: $rosa-fuerte;
    padding: $espacio;
}

.me {
    font-size: 24px;
    ;
}

.skillset {
    top: 30px;
}

.skill-ico {
    font-size: 60px;
    color: $rosa-fuerte;
    padding: 20px;
}

.projects {
    color: $rosa-fuerte;
    top: 30px;
}

.card {
    margin: 80px;
}

footer {
    background-image: url('/dist/img/Akiko.jpg');
}

.page-footer {
    color: black;
    font-size: 12px;
    font-weight: bolder;
    a {
        color: black;
    }
}