/*Paleta de colores*/

$rosa-fuerte: #fe79b4;
$rosa-medio: #feb2cd;
$rosa-claro: #f6dada;
$blanco: #fcfbf7;
$celeste: #5D7A84;
$fondorosa: #feebfc;

/*Tipografías*/

$general: 'Bubbler One';
$titulos: 'Waiting for the Sunrise';

/*padding secciones*/

$espacio: 100px;