body {
    background-color: $blanco;
    font-family: $general;
}

.title {
    font-family: $titulos;
}


/*Navbar*/

nav {
    background-color: $rosa-fuerte;
}

.intro {
    background-color: #fbfbc5;
}